<div id="<%= dom_id social_cause %>">
  <p>
    <strong>Id causa:</strong>
    <%= social_cause.id_causa %>
  </p>

  <p>
    <strong>Rut beneficiario:</strong>
    <%= social_cause.rut_beneficiario %>
  </p>

  <p>
    <strong>Dv rut person:</strong>
    <%= social_cause.dv_rut_person %>
  </p>

  <p>
    <strong>Nombre causa:</strong>
    <%= social_cause.nombre_causa %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= social_cause.descripcion %>
  </p>

  <p>
    <strong>Fundacion u ong relacionada:</strong>
    <%= social_cause.fundacion_u_ong_relacionada %>
  </p>

  <p>
    <strong>Asesor asignado:</strong>
    <%= social_cause.asesor_asignado %>
  </p>

  <p>
    <strong>Puntaje causa:</strong>
    <%= social_cause.puntaje_causa %>
  </p>

  <p>
    <strong>Rut beneficiario causa:</strong>
    <%= social_cause.rut_beneficiario_causa %>
  </p>

  <p>
    <strong>Dv rut benef:</strong>
    <%= social_cause.dv_rut_benef %>
  </p>

  <p>
    <strong>Tipo causa:</strong>
    <%= social_cause.tipo_causa %>
  </p>

  <p>
    <strong>Tamano causa:</strong>
    <%= social_cause.tamano_causa %>
  </p>

  <p>
    <strong>Fecha ingreso causa:</strong>
    <%= social_cause.fecha_ingreso_causa %>
  </p>

</div>
