<div id="<%= dom_id deuda_user %>">
  <p>
    <strong>Rut person:</strong>
    <%= deuda_user.rut_person %>
  </p>

  <p>
    <strong>Dv rut person:</strong>
    <%= deuda_user.dv_rut_person %>
  </p>

  <p>
    <strong>Institucion 1:</strong>
    <%= deuda_user.institucion_1 %>
  </p>

  <p>
    <strong>Tipo deuda 1:</strong>
    <%= deuda_user.tipo_deuda_1 %>
  </p>

  <p>
    <strong>Monto deuda 1:</strong>
    <%= deuda_user.monto_deuda_1 %>
  </p>

  <p>
    <strong>Pago mensual 1:</strong>
    <%= deuda_user.pago_mensual_1 %>
  </p>

  <p>
    <strong>Meses sin pago 1:</strong>
    <%= deuda_user.meses_sin_pago_1 %>
  </p>

  <p>
    <strong>Pago mensual total:</strong>
    <%= deuda_user.pago_mensual_total %>
  </p>

  <p>
    <strong>Monto deuda total:</strong>
    <%= deuda_user.monto_deuda_total %>
  </p>

</div>
