<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= user.apellido_paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= user.apellido_materno %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= user.fecha_nacimiento %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= user.direccion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= user.comuna %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= user.region %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= user.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Profesion u oficio:</strong>
    <%= user.profesion_u_oficio %>
  </p>

  <p>
    <strong>Renta mensual:</strong>
    <%= user.renta_mensual %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= user.rut %>
  </p>

  <p>
    <strong>Dv rut person:</strong>
    <%= user.dv_rut_person %>
  </p>

  <p>
    <strong>Rut empleador:</strong>
    <%= user.rut_empleador %>
  </p>

  <p>
    <strong>Dv rut emp:</strong>
    <%= user.dv_rut_emp %>
  </p>

  <p>
    <strong>Empleador:</strong>
    <%= user.empleador %>
  </p>

  <p>
    <strong>Desafios en curso:</strong>
    <%= user.desafios_en_curso %>
  </p>

  <p>
    <strong>Estado financiero:</strong>
    <%= user.estado_financiero %>
  </p>

  <p>
    <strong>Id desafio:</strong>
    <%= user.id_desafio %>
  </p>

</div>
