<div id="<%= dom_id challenge %>">
  <p>
    <strong>Id desafio:</strong>
    <%= challenge.id_desafio %>
  </p>

  <p>
    <strong>Rut person:</strong>
    <%= challenge.rut_person %>
  </p>

  <p>
    <strong>Dv rut person:</strong>
    <%= challenge.dv_rut_person %>
  </p>

  <p>
    <strong>Id causa:</strong>
    <%= challenge.id_causa %>
  </p>

  <p>
    <strong>Puntaje causas:</strong>
    <%= challenge.puntaje_causas %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= challenge.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= challenge.fecha_termino %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= challenge.comentarios %>
  </p>

</div>
