<div id="<%= dom_id financial_state %>">
  <p>
    <strong>Estado financiero:</strong>
    <%= financial_state.estado_financiero %>
  </p>

  <p>
    <strong>Rut person:</strong>
    <%= financial_state.rut_person %>
  </p>

  <p>
    <strong>Dv rut person:</strong>
    <%= financial_state.dv_rut_person %>
  </p>

  <p>
    <strong>Renta mensual:</strong>
    <%= financial_state.renta_mensual %>
  </p>

  <p>
    <strong>Pago mensual total:</strong>
    <%= financial_state.pago_mensual_total %>
  </p>

  <p>
    <strong>Monto deuda total:</strong>
    <%= financial_state.monto_deuda_total %>
  </p>

  <p>
    <strong>Fecha actualizacion:</strong>
    <%= financial_state.fecha_actualizacion %>
  </p>

</div>
